the survey found that 65% of consumers were satisfeid with their financial institution .Suppose that 25% of institution is sampled  and if the survey results is still holds true today ,what is the probabibilty theat 19% are already satified with their primary financial institution

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\hp\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df = pd.read_excel('Online Retail Data Set.xlsx')

In [3]:
df.head(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [4]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [5]:
cleaned_data = df[(df['Quantity']>= 1)& (df['UnitPrice']>= 0)]

In [6]:
cleaned_data['Revenue']=cleaned_data['Quantity']*cleaned_data['UnitPrice']

C:\Users\hp\AppData\Local\Temp\ipykernel_2336\3494526920.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_data['Revenue']=cleaned_data['Quantity']*cleaned_data['UnitPrice']

In [7]:
cleaned_data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Revenue
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34

In [ ]:
output_file_path ="Updated Online Retail Data Set.xlsx"
cleaned_data.to_excel(output_file_path,index=False)

In [ ]:
print(f"Cleaned data save to {output_file_path}")

In [ ]:

cleaned_data['InvoiceDate']= pd.to_datetime(cleaned_data['InvoiceDate'])

In [ ]:
cleaned_data.head()

In [ ]:
#Top countries:
top_countries = cleaned_data[cleaned_data['Country'] != 'United Kingdom']\
.groupby('Country')['Revenue'].sum()\
.nlargest(10)\
.reset_index()

In [ ]:
plt.figure(figsize= (12,6))
sns.barplot(data = top_countries,
           x ='Revenue' ,y = 'Country',palette ="viridis")
plt.title = ("Top 10 countries by Revenue(Excluding Uk)")
plt.xlabel = ('Revenue')
plt.ylabel = ('Country')
plt.show()

In [ ]:
# customer ka revenuemtlb top10 customer 
top_customers = cleaned_data.groupby('CustomerID')['Revenue'].sum()\
.nlargest(10).reset_index()

plt.figure(figsize=(12,6))
sns.barplot(data = top_customers,x= 'Revenue',y= 'CustomerID',palette = 'coolwarm')
plt.title =('Top 10 Customers by REvenue')
plt.xlabel= ('Revenue')
plt.ylabel = ('CustomerID')
plt.show()

In [ ]:
# Convert InvoiceDate to datetime format, handling errors
cleaned_data['InvoiceDate'] = pd.to_datetime(
   cleaned_data['InvoiceDate'], errors='coerce'
)

# Drop rows where InvoiceDate is NaT (invalid dates)
leaned_data = cleaned_data.dropna(subset=['InvoiceDate'])

In [ ]:
# Ensure Revenue is calculated properly and is numeric
cleaned_data['Revenue'] = pd.to_numeric(
   cleaned_data['Quantity'] * cleaned_data['UnitPrice'], errors='coerce'
)

# Drop rows with invalid (NaN) Revenue
cleaned_data = cleaned_data.dropna(subset=['Revenue'])

In [ ]:

# Filter data for the year 2011
cleaned_data['InvoiceDate'] = pd.to_datetime(cleaned_data['InvoiceDate'])
data_2011 = cleaned_data[cleaned_data['InvoiceDate'].dt.year == 2011]

# Group by month and calculate revenue
monthly_revenue = data_2011.groupby(data_2011['InvoiceDate'].dt.to_period('M'))['Revenue'].sum().reset_index()

# Convert InvoiceDate back to datetime for plotting
monthly_revenue['InvoiceDate'] = monthly_revenue['InvoiceDate'].dt.to_timestamp()

# Plot the time series
plt.figure(figsize=(12, 6))
sns.lineplot(data=monthly_revenue, x='InvoiceDate', y='Revenue', marker='o')
plt.xlabel('InvoiceDate')
plt.ylabel('Revenue')
plt.xticks(rotation=45)
plt.show()